$breakpoint-tablet-low: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-high: 1440px;
$ten-percent: 10%;
$fifty-percent: 50%;
$one-hundred-percent: 100%;
$black: #000;
$white: #fff;

// winter colors - purple
$color-bubble-bath: #EBE4EC;
$color-hot-purple: #4F2056;
$color-selago: #332e26;
$color-vista-blue: #89D1A5;

// spring colors - green
$color-early-dawn: #FFF6DE;
$color-pine-tree: #244207;
$color-eggplant: #A5056D;
$color-twilight: #E1C4D6;

// summer colors - red
$color-banana-mania: #FFEEB8;
$color-bright-red: #901D29;
$color-melon: #FFB8B8;

// autumn colors - orange
$color-linen: #F6F0EA;
$color-brown-pod: #632612;
$color-sea-green: #233E30;
$color-chilean-fire: #F4BEAE;

$widths: 20, 25, 45, 50, 75, 100;

@mixin season-theming($season, $theme-light-bg, $theme-dark-bg, $theme-accent-color, $theme-font-color) {
  body{
    &:has(div.#{$season}){
      &:has(.light-mode), &:has(.dark-mode) .nav{
        background: $theme-light-bg;
        color: $theme-font-color;
        a{
          color: $theme-dark-bg;
          background: $theme-light-bg;
          text-decoration: none;
          &:hover{ text-decoration: underline; }
          
        }
        .tag{
          border-color: $theme-dark-bg;
          // background: rgba($theme-dark-bg, .15);
        }
        .tag-title{
          background: rgba($theme-dark-bg, .15);
        }
        .tags-list{
          li{
            button{
              background: $theme-dark-bg;
              color: $theme-light-bg;
              &.active{
                // font-weight: bold;
                background: $theme-accent-color;
                color: $theme-font-color;
              }
            }
          }
        }
      }
      &:has(.dark-mode), &:has(.light-mode) .nav{
        // background: $color-hot-purple;
        background: $theme-dark-bg;
        // color: $color-bubble-bath;
        color: $theme-light-bg;
        a{
          color: $theme-accent-color;
          background: $theme-dark-bg;
          text-decoration: none;
          // &:hover{ text-decoration: underline; }
        }
        .tag{
          border-color: $theme-light-bg;
          // background: rgba($theme-light-bg, .15);
        }
        .tag-title{
          background: rgba($theme-light-bg, .15);
        }
        .tags-list{
          li{
            button{
              background: $theme-light-bg;
              color: $theme-font-color;
              &.active{
                // font-weight: bold;
                background: $theme-accent-color;
                color: $theme-font-color;
              }
            }
          }
        }
      }
    }
  }
}

$winter-colors: (
  light: $color-bubble-bath,
  dark: $color-hot-purple,
  accent: $color-vista-blue,
  font: $color-selago
);

@include season-theming(
  "winter",
  map-get( $winter-colors, 'light'),
  map-get( $winter-colors, 'dark'),
  map-get( $winter-colors, 'accent'),
  map-get( $winter-colors, 'font')
);

$spring-colors: (
  light: $color-early-dawn,
  dark: $color-pine-tree,
  accent: $color-twilight,
  font: $color-eggplant
);

@include season-theming(
  "spring",
  map-get( $spring-colors, 'light'),
  map-get( $spring-colors, 'dark'),
  map-get( $spring-colors, 'accent'),
  map-get( $spring-colors, 'font')
);

$summer-colors: (
  light: $color-banana-mania,
  dark: $color-bright-red,
  accent: $color-melon,
  font: $color-selago
);

@include season-theming(
  "summer",
  map-get( $summer-colors, 'light'),
  map-get( $summer-colors, 'dark'),
  map-get( $summer-colors, 'accent'),
  map-get( $summer-colors, 'font')
);

$autumn-colors: (
  light: $color-linen,
  dark: $color-brown-pod,
  accent: $color-chilean-fire,
  font: $color-sea-green
);

@include season-theming(
  "autumn",
  map-get( $autumn-colors, 'light'),
  map-get( $autumn-colors, 'dark'),
  map-get( $autumn-colors, 'accent'),
  map-get( $autumn-colors, 'font')
);

// body{ padding: 20px; }
a.disabled {
	color: gray;
  pointer-events: none;
  cursor: default;
}
th, .center{ text-align: center; }
.note-id{ width: $ten-percent; }
.note-input{ width: $fifty-percent; }

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body{
  button{
    padding: 10px;
    border-radius: 20px;
    border: 0;
    margin: 15px auto;
  }
  p{ align-content: start; }
  footer{
    padding: 20px;
    text-align: center;
  }
  .nav{
    // overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
    ul{
      // *{ display: inline; }
      // position: fixed;
      &.hide-on-mobile li:not(.home, .menu){ display: none; }
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      // height: 50px;
      padding: 0;
      display: flex;
      align-items: center;
      display: block;
      list-style-type: none;
      li{
        // padding: 20px;
        // position: relative;
        top: 80px;
        height: 100%;
        z-index: 1;
        &.home{
          // position: absolute;
          // left: 0;
          // padding: 10px;
          display: contents;
          a{ text-align: left;}
        }
        .mobile-only-nav-text{ margin-right: 10px; }
      }
      li a{
        color: $black;
        text-decoration: none;
        // display: inline;
        padding: 20px;
        // height: 100%;
        width: 100%;
        display: block;
        // background: red;
        text-align: center;

      }
      // display: none;
      // display: flex;
    }
    .menu{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      // background: black;
      // color: white !important;
      // height: 80px;
      // width: 80px;
      // position: relative;
      svg{
        // position: relative;
        // top: 50%;
        // left: 50%;
        // transform:translate(-50%,-50%);
        padding: 20px;
      }
    }
  }
  .mode{ width: 30px; }
  .filters-header{
    display: flex;
    .title{
      display: flex;
      // flex-basis: 50%;
      align-items: center;
      span{
        padding-left: 5px;
      }
    }
    .clear-all{
      display: flex;
      // flex-basis: 50%;
      align-items: center;
      justify-content: right;
      margin-left: auto;
    }
  }
  .tag{
    border: 1px solid;
    border-width: 0.5px 0.5px 0 0.5px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: baseline;
    &.roles{ border-width: 0.5px; }
    &.close{
      .tag-title h3:before{
        content:'\25B6';
      }
      .tags-list{
        display: none;
      }
    }
    &:not(.close){
      .tag-title h3:before{
        // content:'\25BC';
        content:'\25B6';
        transform: rotate(90deg);
        display: inline-block;
        transition: all ease 200ms;
      }
    }
    .tag-title{
      display: flex;
      flex-basis: 100%;
      padding: 15px;
      h3{
        display: flex;
        margin: 0;
        width: 100%;
      }
      .tag-count{
        display: flex;
        padding-left: 5px;
        justify-content: right;
      }
    }
    .tags-list{
      display: flex;
      // align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 5px 0 15px 0;
      flex-basis: 100%;
      *{ display: inline; }
      li{
        margin: 10px 10px 0 10px;
        button{
          cursor: pointer;
          // background: $color-hot-purple;
          // color: $color-bubble-bath;
          &.active{
            // font-weight: bold;
            // background: $color-vista-blue;
            // color: $color-selago;
          }
          &.disabled{ 
            pointer-events: none;
            cursor: default;
            color: gray !important;
            background: transparent;
          }
        }
      }
    }
  }
  .content{
    padding: 20px;
    position: relative;
    top: 60px;
    max-width: 720px;
    margin: 0 auto;
    &.projects-list{
      max-width: 1400px;
      
    }
    caption{
      width: 90%;
      margin: 0 auto;
      text-align: center;
      display: flex;
    }
    .see-more-button{ text-align: center; }
  }
  // .width-25{ width: 25%; }
  // .width-50{ width: $fifty-percent; }
  // .align-left{ float: left; }
  .align-right{ float: right; }
  .align-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .blah{
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // &.multi-row-images{ flex-wrap: wrap;}
    justify-content: space-evenly;
    // gap: 15px;
    .meh img{ max-width: 100%; }
    .meh{
      flex-basis: 100%;
      // &.width-50{ flex-basis: 49%; }
      // &.width-75{ flex-basis: 75%; }
      // &.width-100{ flex-basis: 100%; }
      @each $width in $widths {
        &.mobile-width-#{$width} {
          flex-basis: #{$width} + "%";
        }
      }
    }
  }
  .blah-icon-list{
  //   display: flex;
    .blah-icon{
      text-align: center;
  //     display: flex;
  //     flex-basis: 33%;
  //     justify-content: flex-start;
  //     flex-direction: column;
  //     svg{
  //       margin: 0 auto;
  //       height: 200px;
  //     }
  //     div{
  //       text-align: center;
  //       &.degree{
  //         font-size: 12px;
  //         margin-bottom: 10px;
  //       }
  //       &.source{
  //         font-size: 10px;
  //         margin-bottom: 5px;
  //       }
  //     }
    }
  }
  .project-list-wrapper{
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-evenly;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      // max-width: 90%; // adjust the width compared to the container
      display: flex;
      flex-wrap: wrap;
      // justify-content: flex-start;
      justify-content: space-evenly;
      gap: 15px;
      flex-basis: 100%;
      &.one-item li{
        width: 100%;
        // img{ height: inherit; }
      }
      li{
        // padding: 0 15px; // padding right and left only
        margin-bottom: 20px; // vertical spacing between li elements
        // width: 100%;
        width: 45%;
        position: relative;
        a:hover{
          img{ opacity: 0.15; }
          h3{
            opacity: 1;
          }
        }
        img{
          width: 100%;
          // width: 300px;
          height: 150px;
          object-fit: cover;
          object-position: inherit;
          transition: opacity ease 200ms;
        }
        h3{
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: opacity ease 200ms;
          opacity: 0;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: $breakpoint-tablet-low) {
    // .mobile-width-100{ width: $one-hundred-percent; }
  }
  @media (min-width: $breakpoint-tablet-low) {
    .project-list-wrapper{
      ul{
        justify-content: space-evenly;
        flex-basis: inherit;
      }
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .nav{
      ul{
        *{ display: inline; }
        // &.hide-on-mobile li:not(.home, .menu){ display: inherit; }
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        margin: 0;
        // height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          display: inherit !important;
          position: inherit;
          top: inherit;
          // margin: 20px;
          &.home{
            position: absolute;
            left: 0;
            // padding: 10px;
          }
          &.colorMode{
            position: absolute;
            right: 0;
            // padding: 10px;
          }
          &.menu{ display: none !important; }
          .mobile-only-nav-text{ display: none; }
        }
        li a{
          color: $black;
          text-decoration: none;
          background: transparent;
        }
      }
      .menu{ display: none; }
    }
    .tag{
      &:not(.close), &.close{
        .tag-title h3:before{
          // content: inherit;
        }
        .tags-list{
          // display: flex;
        }
      }
    }
    .tags-list.close{ display: flex; }
    .project-list-wrapper{
      ul{
        li{
          width: 45%;
          img{ height: 300px; }
        }
      }
      ul.one-item{
        li{
          width: 100%;
        }
      }
      ul.two-items{
        li{
          width: 45%;
        }
      }
    }
    .blah{
      flex-direction: row;
      .meh{
        @each $width in $widths {
          &.width-#{$width} {
            flex-basis: #{$width} + "%";
          }
        }
      }
    }
    .blah-icon-list{
      display: flex;
      .blah-icon{
        display: flex;
        flex-basis: 33%;
        justify-content: flex-start;
        flex-direction: column;
        svg{
          margin: 0 auto;
          height: 200px;
        }
        div{
          text-align: center;
          &.degree{
            font-size: 12px;
            margin-bottom: 10px;
          }
          &.source{
            font-size: 10px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-desktop) {
    .project-list-wrapper{
      ul{
        li{
          width: 30%;
        }
      }
      ul.one-item{
        li{
          width: 100%;
        }
      }
      ul.two-items{
        li{
          width: 45%;
        }
      }
    }
  }
  @media (min-width: $breakpoint-desktop-high) {
    .project-list-wrapper{
      ul{
        li{
          width: 22%;
        }
      }
      ul.one-item{
        li{
          width: 100%;
        }
      }
      ul.two-items{
        li{
          width: 45%;
        }
      }
    }
  }
}